* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Goldman", cursive;
}
html {
  font-size: 62.5%;
}

nav {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
  display: inline-block;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
main {
  font-family: 'Goldman', cursive;
  background-color: black;
  color: white; 
  width: 100vw;
}
header {
  background-image: url("./img/005.png");
  color: white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 70vh;
}
h1 h2 h3 h4 {
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 5rem;
  padding-top: 20vh;
}

body {
  position: relative;
  min-height: 100vh;
}

footer {
  background-color: #00a8c7;
  text-align: center;
  font-size: 5rem;
  color: white;
  height: 15vh;
  padding-top: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}
section {
  height: 100vh;
  width: 100vw;
  font-size: large;
}
h1 {
  font-size: 8rem;
} 
img {
  width: 53vw;
  float: left;
  padding-left: 10vw;
  padding-right: 10vw;
}
p {
  padding-top: 15vh;
  padding-right: 10vw;
  padding-left: 10vw;
}

.right {
  float: right;
  padding-top: 10vh;
}
.logo {
  width: 24vw;
}
