@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.flex-container {
    display: flex;
    max-width: 100vw;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.one {
    background-color: blue;
    color: blue;
}
.two {
    background-color: black;
    color: black;
}
.tree {
    background-color: red;
    color: red;
}
.four {
    background-color: green;
    color: green;
}
.item {
    width: 200px;
    height: 200px;
}