* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
  }
  nav {
    padding-top: 3rem;
    background-color: #131e27;
    color: white;
    text-align: center;
    position: fixed;
    width: 100vw;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  button {
    background-color: #4c6e97;
    border: none;
  }
  button:hover {
    transition-duration: 0.2s;
    background-color: #131e27;
  }
  .travel {
    background-image: url(./img/landing-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    color: white;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  .travel button {
    color: white;
    width: 60vw;
    margin-top: 10vh;
    height: 10vh;
    font-size: 3rem;
  }
  .time {
    color: white;
    background-image: url(./img/new-york-page.png);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    height: 110vh;
    background-color: rgb(162, 162, 162);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .time h2 {
    padding-bottom:0.5rem;
    border-bottom-style: solid;
    border-bottom-width: 0.31rem;
    width: fit-content;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 5rem;
  }
  .time p {
    padding-left: 2rem;
    font-size: 3rem;
  }
  .perfect {
    color: white;
    background-color: #131e27;
    text-align: center;
    font-size: 3rem;
    padding: 4rem 0rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/contact-mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    background-position: center;
    background-color: rgb(177, 177, 177);
  }
  .form button {
    width: 80vw;
    border-radius: 0rem 0rem 1rem 1rem;
    height: 5vh;
    color: white;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #131e27ba;
    width: 80vw;
    border-radius: 1rem 1rem 0rem 0rem;
    height: 50vw;
  }
  .bot {
    margin-bottom: 2rem;
  }
  form input{
    margin-top: 2rem;
  }
  .hocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .hokje {
    max-width: 50vw;
    background-color: #131e27;
    margin-top: 5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
  }
  .hokje p {
    background-color: white;
    padding-bottom: 3rem;
  }
  .hokje h1 {
    background-color: white;
    text-align: center;
    padding: 3vw;
  }
  .hokje img {
    width: 6vw;
    height: 6vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  footer {
    background-color: #131e27;
    display: flex;
    flex-direction: column;
    
  }
  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer p {
    color: white;
    text-align: center;
  }
  .bot {
    margin-top: 3rem;
  }
  .top {
    margin-top: 3rem;
  }
  @media only screen and (min-width: 992px ) {
    body {
      font-size: 2rem;
      font-family: 'Roboto', sans-serif;
    }
    nav {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
    }
    nav img {
      margin-left: 5rem;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      min-width: 35vw;
    }
    nav h1 {
      padding-left: 5vw;
    }
    .travel button{
      width: 20vw;
    }
    
    footer {
      background-color: #131e27;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2vh 5vw;
    }
    .foot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50vw;
    }
    footer p {
      color: white;
      text-align: center; 
      font-weight: 600;
    }
    .hocks {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 3vh;
      padding-bottom: 3vh;
    }
    .hokje {
      max-width: 23vw;
      background-color: #131e27;
      margin-top: 5vh;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      text-align: center;
    }
    form {
      height: 40vh;
      width: 50vw;
      font-size: 3rem;
      padding: 5rem;
    }
    form input {
      font-size: 3rem;
    }
    .form button {
      font-size: 2.5rem;
      height: 10vh;
      width: 50vw;
    }
  }