* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 2rem;
  }
  nav {
    height: 10vh;
  }
  section {
    height: 30vh;
    padding: 2rem 5vw;
  }
  nav {
    display: flex;
    align-items: center;
    padding-left: 5vw;
  }
    .one {
      background-color: #F9CA22;
    }
    .two {
        background-color: #F0922B;
      }
    .three {
        background-color: #69B04C;
      }
    .four {
        background-color: #EA4D4B;
        color: #FFFFFF;
    }
    .tel {
        color: #EA4D4B;
        height: 2rem;
        width: 2rem;
        background-color: #EA4D4B;
    }

  @media only screen and (min-width: 768px) and (max-width: 991px ) {
    .one {
      background-color: #FE4657;
      color: #FFFFFF;
    }
    .two {
        background-color: #5352EC;
        color: #FFFFFF;
      }
    .three {
        background-color: #3742F9;
        color: #FFFFFF;
      }
    .four {
        background-color: #FF6B81;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
    .tel {
        color: #FF6B81;
        height: 2rem;
        width: 2rem;
        background-color: #FF6B81;
    }
  }
  @media only screen and (max-width: 767px ) {
    .one {
      background-color: #686DE0;
      color: #FFFFFF;
      text-align: center;
    }
    .two {
        background-color: #7ED6DF;
        color: #FFFFFF;
        text-align: center;
      }
    .three {
        background-color: #E056FD;
        color: #FFFFFF;
        text-align: center;
      }
    .four {
        background-color: #30336A;
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        padding: 0rem 2rem;
    }
    .tel {
        color: white;
        height: 2rem;
        width: 2rem;
        background-color: white;
    }
  }