* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Goldman", cursive;
}
html {
  font-size: 62.5%;
}

nav {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
.logo {
  width: 24vw;
  padding-left: 10vw;
  padding-right: 10vw;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
main {
  font-family: 'Goldman', cursive;
  background-color: black;
  color: white; 
  width: 100vw;
}
header {
  background-image: url("./img/005.png");
  color: white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 70vh;
}
h1 h2 h3 h4 {
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 5rem;
  padding-top: 20vh;
}
body {
  min-height: 100vh;
}
p {
  font-size: 2rem
}
footer {
  background-color: #00a8c7;
  text-align: center;
  font-size: 5rem;
  color: white;
  height: 15vh;
  padding-top: 3rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E9E9E9;
  z-index: 1; 
  min-width: 10vw;
}
.dropdown-content a {
  color: #00a8c7;
  padding: 0.8rem 1rem 0rem 0.2rem;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn{
  background-color: #E9E9E9;
  color: #00a8c7;
  padding: 0.5rem 2rem;
}