* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    font-size: 62,5%;
}
h1 {
    font-size: 3rem;
    color: blue;
    font-weight: bold;
    font-style: oblique;
}
h2 {
    font-size: 1.5rem;
    color: #0000ff;
    font-weight: bold;
}
h3 {
    font-size: 1rem;
    color: teal;
    font-weight: bold;
}
p {
    color: #4D4D4D;
}
.one {
    font-weight: bold;
    color: red;
    font-size: 2rem;
}
a {
    color: #8A2BE2;
    text-decoration: none;
}
header {
    background-image: url(./img/steam.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 40vh;
}
.header {
    color: red;
    font-size: 3rem;
}
img {
    width: 50vw;
}
article {
    border: solid red ;
    border-width: 0.2rem 0.2rem 0.2rem 1rem;
    border-radius: 10px;
}
